useDynLib(QUBIC)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(fields, image.plot)
importFrom(biclust, biclust)
importFrom(biclust, bicluster)
importFrom(biclust, BiclustResult)
importFrom(biclust, heatmapBC)
importFrom(methods, new)
